    <div id="section-3">
        <div id="left-footer">
            <div class="end-text">
                <h2>PACIFIC NOVA</h2>
                <ul>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Wanna Collab?</li>
                    <li>Pacific Nova Cares</li>
                    <li>Privacy Policy</li>
                    <li>Terms of Service</li>
                </ul>
            </div>
            <div class="end-text">
                <h2>CUSTOMER CARE</h2>
                <ul>
                    <li>Need Help?</li>
                    <li>Shipping Info</li>
                    <li>Track My Order</li>
                    <li>Easy Returns</li>
                    <li>FAQ</li>
                    <li>Contact Us!</li>
                </ul>
            </div>
            <div class="end-text">
                <h2>Quick links</h2>
                <ul>
                    <li>Gift Cards</li>
                    <li>Reviews</li>
                    <li>My Account</li>
                    <li>Size Guide</li>
                    <li>Store Locations</li>
                    <li>Get $30</li>
                </ul>
            </div>
        </div>
        <div id="right-footer">
            <header>
                <h2>Follow Us!</h2>
            </header>
            <div id="social-bar">
                <ul>
                    <li><i class="fab fa-facebook fa-3x"></i></li>
                    <li><i class="fab fa-instagram fa-3x"></i></li>
                    <li><i class="fab fa-twitter-square fa-3x"></i></li>
                </ul>
            </div>
            <form action="" method="POST" id="signup">
                <label for="email">Be The First To Know About The Lastest Deals, Secret Deals, Style Updates, & More!</label>
                <input type="email" name="email" id="email">
                <button type="submit" form="signup" value="Submit">Sign Up</button>
            </form>
            <div id="payment-container">
                <h2>Payment Methods</h2>
                <ul>
                    <li><i class="fab fa-cc-visa fa-2x"></i></li>
                    <li><i class="fab fa-cc-mastercard fa-2x"></i></li>
                    <li><i class="fab fa-cc-amex fa-2x"></i></li>
                    <li><i class="fab fa-cc-paypal fa-2x"></i></li>
                    <li><i class="fab fa-cc-amazon fa-2x"></i></li>
                    <li><i class="fab fa-cc-apple-pay fa-2x"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="scripts/script.js"></script>
    </body>
</html>