<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style.css"/> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <title>Wayne A. Silva|Portfolio</title>
    </head>
    <div id="header-section-1">
        <nav id="navbar">
            <div id="brand-hero">
                <header>
                    <h1 id="logo-left">Ryding</h1>
                    <h1 id="logo-right"><strong>Dirty</strong></h1>
                </header>
                <!-- <div id="search-container"> -->
                <form action="" method="GET" id="search-form-monitor">
                    <input type="text" name="search" id="search" placeholder="Search">
                    <button type="submit" form="search-form" value="Submit"><i class="fas fa-search"></i></button>
                </form>    
                <!-- </div> -->
                <div id="header-icons-container">
                    <ul>
                        <li><i class="fas fa-user"></i><span>Sign in</span></li>
                        <li><i class="fas fa-heart"></i><span>My Favorites</span></li>
                        <li><i class="fas fa-shopping-bag"></i><span>My Bag</span></li>
                    </ul>
                </div>
            </div>
            <div id="nav-deals">
                <div class="deal-item none"id="deal-1">CYBER MONDAY ENDS SOON! 40-90% OFF SITEWIDE!</div>
                <div class="deal-item" id="deal-2">SHOP NOVA $2.99 DEALS!</div>
                <div class="deal-item none" id="deal-3">FREE SHIPPING ON ALL U.S. & CANADA ORDERS $75+</div>
            </div>
            <div id="nav-products">
                <div class="nav-item">
                    <p><a href="/index/vehicle">ATV <i class="fas fa-angle-down"></i></a></p>
                </div>
                <div class="nav-item">
                    <p>Dirt Bike <i class="fas fa-angle-down"></i></p>
                </div>
                <div class="nav-item">
                    <p>Go Cart <i class="fas fa-angle-down"></i></p>
                </div>
                <div class="nav-item">
                    <p>Moped <i class="fas fa-angle-down"></i></p>
                </div>
            </div>
        </nav>
    </div>
    <body>